doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  h1 President Submission Form
  h2 Thank you for considering my submission please use postman to connect and send a post request to http://localhost:3000/users with the information in the body